#mepr_forgot_password_form label,
.mepr-form label {
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.32);
    margin-bottom: 14px;
}

#mepr_forgot_password_form input[type="text"],
#mepr_forgot_password_form input[type="email"],
#mepr_forgot_password_form input[type="tel"],
#mepr_forgot_password_form input[type="password"],
.mepr-form input[type="text"],
.mepr-form input[type="email"],
.mepr-form input[type="tel"],
.mepr-form input[type="password"] {
    background: #333333;
    border-radius: 8px !important;
    padding: 18px !important;
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    border-color: #BE48FB !important;
}

.mepr-form input.invalid, .mepr-form select.invalid, .mepr-form textarea.invalid, .mepr-form label.mepr-checkbox-field.invalid, .mepr-form div.mepr-checkboxes-field.invalid, .mepr-form div.mepr-radios-field.invalid, #mepr_forgot_password_form input.invalid {
    border-color: #9B25E3 !important;
    background: #333333 !important;
}

.mepr-form input[type="text"]:focus,
.mepr-form input[type="email"]:focus,
.mepr-form input[type="tel"]:focus,
.mepr-form input[type="password"]:focus {
    outline: none !important;
}

.mepr-form input[type="submit"],
.mepr-form input[type="button"] {
    padding: 16px 77.5px !important;
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 100%;
/*     text-transform: uppercase !important; */
    color: #FFFFFF !important;
    background-color: #9B25E3 !important;
    border-radius: 8px !important;
    border-color: #211f1d !important;
    letter-spacing: 0px !important;
}

.mepr-form input[type="submit"]:hover,
.mepr-form input[type="button"]:hover,
.mepr-form input[type="submit"]:active,
.mepr-form input[type="button"]:active, 
.mepr-form input[type="submit"]:focus,
.mepr-form input[type="button"]:focus,
.mepr-form input[type="submit"]:visited,
.mepr-form input[type="button"]:visited
{
    background-color: #9B25E3 !important;
	color: #FFFFFF !important;
}

.mepr-form input[type="submit"]:focus,
.mepr-form input[type="button"]:focus {
    outline: none !important;
}

.mepr-form .submit,
.mepr-login-actions,
.mp-form-submit {
	text-align: center;
}

.mepr-login-actions a {
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9B25E3 !important;
    text-decoration: underline !important;
}

.mepr-login-actions a:visited {
    color: #BE48FB !important;
}

.mepr-login-actions p {
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.88);
}

.mepr_price .mepr_price_cell_label,
.mepr_price .mepr_price_cell {
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.88);
    margin-bottom: 14px;
}

.mp-table thead tr th,
.mp-table tbody tr td,
.mp-table tfoot tr th {
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.88);
}

.mepr-payment-method-desc-text {
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.32);
}

#mepr_forgot_password_form label {
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.32);
    margin-bottom: 14px;
}

#mepr_forgot_password_form input[type="text"],
#mepr_forgot_password_form input[type="email"],
#mepr_forgot_password_form input[type="tel"],
#mepr_forgot_password_form input[type="password"] {
    background: #333333;
    border-radius: 8px !important;
    padding: 18px !important;
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    border-color: #9B25E3 !important;
}

#mepr_forgot_password_form input.invalid, #mepr_forgot_password_form select.invalid, #mepr_forgot_password_form textarea.invalid, #mepr_forgot_password_form label.mepr-checkbox-field.invalid, #mepr_forgot_password_form div.mepr-checkboxes-field.invalid, #mepr_forgot_password_form div.mepr-radios-field.invalid {
    border-color: #9B25E3 !important;
    background: #333333 !important;
}

#mepr_forgot_password_form input[type="text"]:focus,
#mepr_forgot_password_form input[type="email"]:focus,
#mepr_forgot_password_form input[type="tel"]:focus,
#mepr_forgot_password_form input[type="password"]:focus {
    outline: none !important;
}

#mepr_forgot_password_form input[type="submit"],
#mepr_forgot_password_form input[type="button"] {
    padding: 19px 77.5px !important;
    font-family: "Helvetica Neue", Sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 100%;
/*     text-transform: uppercase !important; */
    color: #FFFFFF !important;
    background: #9B25E3 !important;
    border-radius: 8px !important;
    border-color: #211f1d !important;
    letter-spacing: 0px !important;
}

#mepr_forgot_password_form input[type="submit"]:hover,
#mepr_forgot_password_form input[type="button"]:hover,
#mepr_forgot_password_form input[type="submit"]:active,
#mepr_forgot_password_form input[type="button"]:active, 
#mepr_forgot_password_form input[type="submit"]:focus,
#mepr_forgot_password_form input[type="button"]:focus,
#mepr_forgot_password_form input[type="submit"]:visited,
#mepr_forgot_password_form input[type="button"]:visited{
    background: #BE48FB !important;
	color: white !important;
} 

#mepr_forgot_password_form input[type="submit"]:focus,
#mepr_forgot_password_form input[type="button"]:focus {
    outline: none !important;
}

#mepr_forgot_password_form .submit {
	text-align: center;
}

.mepr-loading-gif,
.mepr-form-has-errors {
	display: none;
}

#mepr_phone1 {
	padding-left: 87px !important;
}

.iti__selected-dial-code {
	color: #ffffff !important;
}

.mepr-form input[type="submit"].bg-disable-btn, 
.mepr-form input[type="button"].bg-disable-btn {
    background-color: #191919 !important;
}